body, html {
    background: #dddddd;
}

section:not(#status):not(#production) {
    display: none;
}

#inventory {
    z-index: 1;
    left: 0;
    top: 0; 
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(214, 207, 207, 0.75);
    display: none;
}

#inventory-content {
    transform: translate(40%, -50%);
}

#inventory h1 {
    text-align: center;
    text-decoration: underline;
}

#inventory li {
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
}

h1.surround::before {content: "[";}
h1.surround::after {content: "]";}
